@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #121212;
    text-decoration: none;
    line-height: 1;
    box-sizing: border-box;
    
    
}

::-webkit-scrollbar {
    display: none;
}

.navigation {
    display:flex;
    justify-content: flex-end;
    position: fixed;
    top: 10px;
    right: 15px;
    gap: 20px;
    width:100%;
}

.navigation a:hover {
    font-weight: 400;
}

.text p, .text a {
    font-size: clamp(14px, 9vw, 300px);
    line-height: 1.1;
    font-weight: 400;
}

.text {
    margin-top: calc(10px + 1rem);
    margin-left: 20px;
    width: 80%;
    
}

    
.text a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

.contact {
    text-align: end;
    margin-top: -7vh;
    margin-bottom: 2vh;
    margin-right: 15px;
}

.contact a:hover {
    text-decoration: underline;
}

@media screen and (max-width:670px) {
    
    .contact a, .contact p {
        font-size: 12px;
        line-height: 0.6;
    }
    
    .text {
        width:75%;
    }
    .contact {
    text-align: end;
    margin-top: -5vh;
    margin-bottom: 2vh;
    margin-right: 15px;
    }